@tailwind base;
@tailwind components;
@tailwind utilities;

/* Always show scrollbar to prevent layout shift during navigation */
html {
  overflow-y: scroll;
}

body {
  @apply bg-gray-50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
